

.color_de_base {
  background: linear-gradient(130deg, #7787fd, #b0a0f2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.caja {
  background: white;
  max-width: 600px;
  width: 90%;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
  
  


.contenido_letra {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 48px;
  height: 16%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  
  
 
}

.caja_contador {
  width: 100%;
  height: 100px;
  background:   #dad5d5;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  font-family: fantasy;
}
.botones_caja{
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.botones{
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  width: 100px;
}

.boton_decrementar{
  background-color: #ff6b6b;
  border-radius: 15px;
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: large;
}
.boton_reiniciar{
  background-color: #fcc419;
  border-radius: 15px;
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: large;

  
}
.boton_incrementar{
  background-color: #51cf66;
  border-radius: 15px;
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: large;
}

/* mi ciruclo